<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Liikuntakeskusten vertailija</title>
  </head>

  <body>
    {% if current_user .is_authenticated %}
    <p>
      Logged in as {{ current_user.username }}. <a href="{{ url_for('auth_logout') }}">Logout</a>
    </p>  
    {% else %}
    <a href="{{ url_for('auth_login') }}">Login</a>
    {% endif %}
    
    <ul>
      <li><a href="{{ url_for('clubs_index') }}">List sports clubs</a></li>
      <li><a href="{{ url_for('reviews_index') }}">List my reviews</a></li>
      
    </ul>
  </body>

  <body>
    {% block body %}
      <p>
        Content.
      </p>
    {% endblock %}
  </body>
</html>
