{% extends "layout.html" %}

{% block body %}
  <br>  
  {% for review in reviews %}
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h5 class="card-title">Club-id: {{ review.club_id }}</h5>
      <h6 class="card-subtitle mb-2">Grade: {{ review.grade }}</h6>
      <p class="card-text">{{ review.review }}</p>
      <form method="GET" action="{{ url_for('reviews_edit', review_id=review.id) }}">
        <input class="btn btn-light" type="submit" value="Edit"/>
      </form>
    </div>
  </div>
  <br>
{% endfor %}

{% endblock %}
