{% extends "layout.html" %}

{% block body %}
<br>
<form method="POST" action="{{ url_for('reviews_update', review_id=review_id) }}">
  <table>
    <tr>
      <td>{{ form.grade.label }}</td>
      <td>{{ form.grade(type="number", placeholder="Insert grade") }}</td>
      <td>
        <ul>
          {% for error in form.grade.errors %}
            <li>{{ error }}</li> 
          {% endfor %} 
        </ul>  
      </td>    
    </tr>
    <tr>
      <td>{{ form.review.label }}</td>
      <td>{{ form.review(rows="10", cols="40", placeholder="Write your review here") }}</td>
    </tr>
    <tr>
      <td colspan="2">
        <input class="btn btn-primary" type="submit" value="Update"/>  
      </td>   
    </tr>
  </table>
</form>

<form method="POST" action="{{ url_for('reviews_delete', review_id=review_id) }}">
  <input class="btn btn-danger" type="submit" value="Delete"/>
</form>
{% endblock %}


