{% extends "layout.html" %}

{% block body %}

<h3>Reviews for {{ club.name }}, {{ club.city }}</h3>
<br>
  {% for review in reviews %}
  <div class="card" style="width: 25rem;">
    <div class="card-header">
      {{ review.username }}
    </div>
    <div class="card-body">
      <h6 class="card-subtitle mb-2">Score: {{ review.grade }}</h6>
      <p class="card-text">{{ review.review }}</p>
    </div>
    <div class="card-footer text-muted">
      {{ review.review_modified }}
    </div>
  </div>
  <br>
{% endfor %}

{% endblock %}