{% extends "layout.html" %}
{% block body %}
<div class="jumbotron">
  <h1 class="display-4">{{ club.club_name }}</h1>
  <h3 class="subtitle mb-2 text-muted">{{ club.city }}</h3>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Score:</th>
        <th scope="col">Price:</th>
        <th scope="col">Reviews:</th>
        <th scope="col">Sports:</th>
      </tr>
    </thead>
      <tr>
        <td>{{ club.average }}/5.0</td>
        <td>{{ club.price }} €/month</td>
        <td>{{ club.reviews }}</td>
        <td>{{ club.sportscount }}</td>
      </tr>
    </table>
    <br>
    <p>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#sports" aria-expanded="false" aria-controls="collapseExample">
          Available sports
      </button>
      <button class="btn btn-primary ml-2" type="button" data-toggle="collapse" data-target="#contact" aria-expanded="false" aria-controls="collapseExample">
          Contact information
      </button>
      <button class="btn btn-primary ml-2" type="button" data-toggle="collapse" data-target="#reviews" aria-expanded="false" aria-controls="collapseExample">
          Reviews
      </button>
    </p>
    <div class="container" id="group">
      <div class="collapse" id="sports" data-parent="#group">
        <div class="card card-body">
          <ul>
            {% for sport in sports %}
            <li>
              {{ sport.name.capitalize() }}
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="collapse" id="contact" data-parent="#group">
        <table>
          <tr>
            <td>Address: {{ club.address }}</td>
          </tr>
          <tr>
            <td>Email:  {{ club.email }}</td>
          </tr>
          <tr>
            <td>Phone: {{ club.tel }}</td>
          </tr>
        </table>
      </div>
      <div class="collapse" id="reviews" data-parent="#group">
        <br>
        {% for review in reviews %}
        <div class="card" style="width: 25rem;">
          <div class="card-header">
            {{ review.username }}
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ review.name }}, {{ review.city }}</h5>
            <h6 class="card-subtitle mb-2">Score: {{ review.grade }}</h6>
            <p class="card-text">{{ review.review }}</p>
          </div>
          <div class="card-footer text-muted">
            {{ review.review_modified }}
          </div>
        </div>
        <br>
      {% endfor %}
      </div>
    </div>  
</div>


{% endblock %}