{% extends "layout.html" %}

{% block body %}

<div class="btn-group mb-5" role="group" aria-label="Basic example">
  <a href="{{ url_for('clubs_index_by_name') }}" type="button" class="btn btn-secondary">Name</a>
  <a href="{{ url_for('clubs_index_by_city') }}" type="button" class="btn btn-secondary">City</a>
  <div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Price
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="{{ url_for('clubs_index_by_price_min') }}">Lowest to highest</a>
      <a class="dropdown-item" href="{{ url_for('clubs_index_by_price_max') }}">Highest to lowest</a>
    </div>
  </div>
  <a href="{{ url_for('clubs_index') }}" type="button" class="btn btn-secondary">Score</a>
</div>

{% if clubs is defined %}
{% for club in clubs %}

<div class="card bg-light mb-4" style="width: 18rem;">
  <h5 class="card-header card-title">
    {{ club.name }}
  </h5>
  <div class="card-body bg-light">
    <h6 class="card-subtitle mb-2 text-muted">{{ club.city }}</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Rating: {{ club.average }}/5.0</li>
      <li class="list-group-item">Based on: {{ club.reviews }} reviews </li>
      <li class="list-group-item">Price: {{ club.price }} €/month</li>
    </ul>
    {% if current_user.is_authenticated %}
      {% if current_user.role == "user" %}
        <a href="{{ url_for('reviews_form', club_id=club.club_id) }}" class="btn btn-primary mt-3"/>Review</a>
      {% endif %}
    {% endif %}
       
    <a href="{{ url_for('clubs_reviews', club_id=club.club_id) }}" class="btn btn-secondary mt-3 ml-1">Show reviews</a>
    <a href="{{ url_for('clubs_info', club_id = club.club_id) }}" class="btn btn-success mt-3 ml-1">Info</a>
  </div>
</div>

{% endfor %}
{% endif %}

{% endblock %}