{% extends "layout.html" %}

{% block body %}

{% if clubs_average_grade is defined %}
{% for club in clubs_average_grade %}
<br>
<div class="card bg-light" style="width: 18rem;">
  <h5 class="card-header card-title">
    {{ club.name }}
  </h5>
  <div class="card-body bg-light">
    <h6 class="card-subtitle mb-2 text-muted">{{ club.city }}</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Rating: {{ club.average }}/5.0</li>
      <li class="list-group-item">Based on: {{ club.reviews }} reviews </li>
      <li class="list-group-item">Price: {{ club.price }} €/month</li>
    </ul>
    {% if current_user.is_authenticated %}
      {% if current_user.role == "user" %}
        <a href="{{ url_for('reviews_form', club_id=club.club_id) }}" class="btn btn-primary mt-3"/>Review</a>
      {% endif %}
    {% endif %}
       
    <a href="{{ url_for('clubs_reviews', club_id=club.club_id) }}" class="btn btn-secondary mt-3 ml-1">Show reviews</a>
    <a href="{{ url_for('clubs_info', club_id = club.club_id) }}" class="btn btn-success mt-3 ml-1">Info</a>
  </div>
</div>

{% endfor %}
{% endif %}
 
{% endblock %}